body{
	background-image: url(IMAGE1.jpg);


    
background-image: cover;
}


.bg-light {
    background-color: #ccfff5!important;
}
.dropdown-item{
font-family: fantasy;

color: blue;

}
#mc_embed_signup{
    display: block;
    position: relative;
    text-align: left;
    padding: 0px 0px 0px 0px;
}